section
    .container
        .row
            .col-lg-5.col-md-6.col-sm-12.col-xs-12.speaker-wrap
                img.img-speaker(src='assets/images/retina/novitskiy.png', alt='Retina Lviv')
            .col-lg-7.col-md-6.col-sm-12.col-xs-12.intro-text
                h3 #{__('DEAR_COLLEAGUES')}
                p #{__('INTRO_TEXT_1')}
                p #{__('INTRO_TEXT_2')}
                p
                    | #{__('INTRO_TEXT_3')}
                    br
                    a(style='color: #fed136!important;', href='http://lviv.travel/en/index') lviv.travel
                    br
                    a(style='color: #fed136!important;', href='http://lviv-online.com') lviv-online.com
                    br
                    a(style='color: #fed136!important;', href='http://www.lviv.ua') lviv.ua
                p #{__('INTRO_TEXT_4')}
                p
                    | #{ __('INTRO_TEXT_5') }
                    br
                    strong.text-strong
                        | #{__('INTRO_TEXT_6')}
                        br
                        |           #{__('INTRO_TEXT_7')}
    div(id='about')